
body{
    background-color: #7E0406;
    color: #F1E5AE
}
p {
color: #7249FC
}

h1 {
    color: #F1E5AE
}
h2 {

    color: #F1E5AE
}
h3{
    color: #F1E5AE
}
  /* background: = #DF2700
    h1 = #2FDF00
    h2 = #2FDF00 */


